@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

// Colors
$primary-color: #0e0e0e;
$secondary-color: #fff;
$tertiary-color: red;
$climb-color: #ff8800;
$ski-color: #4bc6ff;
$fly-color: #12d15b;
$max-width: 1100px;

.climb-clr {
  color: $climb-color;
}

.ski-clr {
  color: $ski-color;
}

.fly-clr {
  color: $fly-color;
}

// Font
$font-stack: 'Akronim', cursive;

// Font on inputs
$font-input: 'Zen Loop', cursive;
