.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: $max-width;
  height: 95vh;
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }
}

.flex-item {
  flex: 1;
}

.gap {
  gap: 0.5rem;
}

.align-nav {
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}

.align-pages {
  align-items: flex-start;
  justify-content: space-between;
}

.align-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-left {
  text-align: left;
}
