@import 'utilities';
@import 'config';
@import 'layout';

// General notes: mediaqueries not implemented, partial workaround, using the clamp
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;
}

/* classes used in useState in App.js to achieve blur effect of the background */
.wrapper {
  background: url('./img/matterhorn02.jpg') no-repeat top center/cover;
  opacity: 0.75;
  height: 100vh;
  width: 100vw;
  padding: 4rem;
  transition: 0.5s ease-in-out;
  z-index: -10;
  /* transition, it makes sure that there is no snap back effect on transition, it goes together with  transition in wrapper-blured class*/
}

/* Bluring effect of the background */
.wrapper-blured {
  filter: blur(17px);
  transition: 0.75s ease-in-out;
  -webkit-filter: blur(17px);
  z-index: -10;
}

/* Nav height in px because trying to prevent the cutting of the text when resizing */
.nav {
  height: 200px;
  text-overflow: ellipsis;
}

/* showcase */
.showcase {
  height: 80vh;
  text-align: center;
}

.container-footer {
  height: 5vh;
  padding-bottom: 3rem;
}

/* footer links */
.footer li {
  font-size: 2.5rem;
  font-size: clamp(1rem, calc(2vw + 1rem), 2.5rem);

  &:hover {
    color: $tertiary-color;
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
}

.climb-color:hover {
  color: $climb-color;
}

.ski-color:hover {
  color: $ski-color;
}

.fly-color:hover {
  color: $fly-color;
}

/* Nav links */
li {
  font-size: 2.5rem;
  font-size: clamp(1rem, calc(3vw + 1rem), 2.5rem);
  list-style-type: none;
  text-transform: uppercase;
}

// font size general
h1 {
  margin: 5vh 0 0 2vw;
  font-size: 3.25em;
  font-size: clamp(1rem, calc(4vw + 1rem), 3.25rem);
}

h2 {
  margin: 1vh 0 0 2vw;
  font-size: 2.5rem;
  font-size: clamp(1rem, calc(3vw + 1rem), 2.5rem);
}

h3 {
  margin: 1vh 0 0 2vw;
  font-size: 1.25rem;
  font-size: clamp(1rem, calc(3vw + 1rem), 1.25rem);
}

h4 {
  margin: 1vh 0 0 2vw;
  font-size: 1rem;
  font-size: clamp(1rem, calc(3vw + 1rem), 1rem);
}

input {
  font-size: 1.25rem;
  padding: 10px;
  // font-weight: 600;
  color: $secondary-color;
  width: 300px;
  background: transparent;
  outline: none;
  font-family: $font-stack;
}

textarea {
  font-size: 1.5rem;
  padding: 10px;
  // font-weight: 600;
  color: $secondary-color;
  margin: 1vh 0 0 2vw;
  width: 300px;
  height: 200px;
  background: transparent;
  outline: none;
  font-family: $font-stack;
}

::placeholder {
  font-size: 1rem;
  font-family: $font-stack;
  color: $secondary-color;
  opacity: 1;
}

button {
  // margin: 1vh 0 0 2vw;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: $font-stack;
  font-size: 1rem;
  color: $secondary-color;
}

.popup-button {
  margin: 1vh 0 0 2vw;
  width: 300px;
  color: $secondary-color;
  font-family: $font-stack;
  font-size: 1rem;
}

.close-button,
.submit-button {
  font-size: 1rem;
}

// Pages
// Climb

// IMPORTANT!!:
// the idea is : style climb manages whole page whre className = 'climb' is applied, same goes for the ski and fly
.climb {
  background: url('./img/climb01.jpg') no-repeat center center/cover;

  h1 {
    color: $climb-color;
  }

  h2 {
    color: $secondary-color;
  }

  h3 {
    color: $climb-color;
  }

  h4 {
    color: $secondary-color;
  }

  input {
    border-top: 1px solid $climb-color;
    border-bottom: 5px solid $climb-color;
    border-left: 5px solid $climb-color;
    border-right: 5px solid $climb-color;
  }

  textarea {
    border-top: 1px solid $climb-color;
    border-bottom: 1px solid $climb-color;
    border-left: 5px solid $climb-color;
    border-right: 5px solid $climb-color;
  }

  button {
    background-color: #d37101;
    border: 5px solid $climb-color;
    padding: 0.5rem;

    &:hover {
      background-color: transparent;
      transition: ease-in-out 0.1s;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

// Ski
.ski {
  background: url('./img/ski01.jpg') no-repeat center center/cover;

  h1 {
    color: $ski-color;
  }

  h2 {
    color: $secondary-color;
  }

  h3 {
    color: $ski-color;
  }

  h4 {
    color: $secondary-color;
  }

  input {
    border-top: 1px solid $ski-color;
    border-bottom: 5px solid $ski-color;
    border-left: 5px solid $ski-color;
    border-right: 5px solid $ski-color;
  }

  textarea {
    border-top: 1px solid $ski-color;
    border-bottom: 1px solid $ski-color;
    border-left: 5px solid $ski-color;
    border-right: 5px solid $ski-color;
  }

  button {
    background-color: #1d80ad;
    border: 5px solid $ski-color;
    padding: 0.5rem;

    &-close {
      font-size: 2rem;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.fly {
  background: url('./img/fly01.jpg') no-repeat center center/cover;

  h1 {
    color: $fly-color;
  }

  h2 {
    color: $secondary-color;
  }

  h3 {
    color: $fly-color;
  }

  h4 {
    color: $secondary-color;
  }

  input {
    border-top: 1px solid $fly-color;
    border-bottom: 5px solid $fly-color;
    border-left: 5px solid $fly-color;
    border-right: 5px solid $fly-color;
  }

  textarea {
    border-top: 1px solid $fly-color;
    border-bottom: 1px solid $fly-color;
    border-left: 5px solid $fly-color;
    border-right: 5px solid $fly-color;
  }

  button {
    background-color: #079b40;
    border: 5px solid $fly-color;
    padding: 0.5rem;
    // margin: 1vh 0 0 2vw;

    &-close {
      font-size: 2rem;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.messages-board {
  background: url('./img/mountains06.jpg') no-repeat center center/cover;
}

.messages-span {
  color: $tertiary-color;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.modal-children {
  position: relative;
  z-index: 100;
  button {
    width: 300px;
  }
  textarea {
    margin: 0;
  }
}

.messages-underline {
  border-top: 2px dotted $secondary-color;
  padding-top: 1rem;
  // border-bottom: 2px dotted $secondary-color;
}

.b {
  border: 4px red solid;
}

.home-button {
  background-color: #6e6e6e;
  border: 5px solid #9b9b9b;
  padding: 0.5rem;
  margin-right: 1rem;
  margin: 3vh 0 0 2vw;

  &:hover {
    background-color: transparent;
  }
}
